<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <header>
        <a href={% url 'logout' %}><button>logout</button></a>
        <a href={% url 'tweets' %}><button>All Tweets</button></a>
        <a href={% url 'createtweet' %}><button>Create Tweet</button></a>
        {% if notifications %}
            <a href={% url 'notifications' %}><button>{{ notifications.count }} new notifications</button></a>
        {% endif %}
    </header>
    <br>
    <div><ul>
        {% for tweet in tweets %}
            <li>
             Posted by:
            <a href="{% url 'userprofile' id=tweet.user.id %}">
                {{ tweet.user.user.username }}
            </a>
            <br>
            Posted on: {{ tweet.date_published }}
            <p>{{ tweet }}</p>
            <a href="{% url 'unfollow' id=tweet.user.id %}">
                <button>Unfollow</button>
            </a>
        </li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>